/* Common styles for all pages */

body {
    background-color: #f5f2de; /* Set earthy background color for the entire page */
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.logo {
    display: flex;
    justify-content: center; /* Center the images horizontally */
    align-items: center; /* Center the images vertically */
    margin-bottom: 20px;
}

.logo img {
    max-width: 30%; /* Ensures the image does not exceed its container */
    height: auto; /* Maintains aspect ratio */
    margin: 0; /* Remove any default margin */
}

h1 {
    text-align: center;
    color: #7d4427; /* Change text color to earthy brown */
}

h2 {
    text-align: center;
    color: #7d4427; /* Change text color to earthy brown */
}

label {
    display: block;
    margin-bottom: 5px;
    color: #7d4427; /* Change label color to earthy brown */
    text-align: left;
}

input[type="text"],
input[type="email"],
input[type="password"],
button {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

button {
    background-color: #d9a679; /* Set earthy color */
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #b07f58; /* Darken earthy color on hover */
}

a {
    text-decoration: none;
    color: #d9a679; /* Set earthy color for links */
}

a:hover {
    text-decoration: underline;
}

/* Additional styles for the dashboard page */

.dashboard {
    display: flex; /* Use flexbox to arrange the blocks */
    justify-content: space-between; /* Space the blocks evenly */
    flex-wrap: wrap; /* Allow the blocks to wrap to the next line if needed */
}

#dashboardIcon {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    display: block; /* Ensure it's a block element */
    margin: 0 auto 20px; /* Center it below the heading and add some bottom margin */
    cursor: pointer; /* Change cursor to pointer on hover */
}


.gif-block {
    width: calc(50% - 20px); /* Adjust width to fit two blocks in a row with margin */
    padding: 20px;
    margin: 10px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.gif-block img {
    max-width: 100%; /* Ensure the image does not exceed the block's width */
    max-height: 100%; /* Ensure the image does not exceed the block's height */
    object-fit: cover; /* Ensure the image covers the entire space of the block */
}

.block {
    width: calc(50% - 20px); /* Adjust width to fit two blocks in a row with margin */
    padding: 20px;
    margin: 10px;
    border: 1px solid #7d4427;
    border-radius: 5px;
    background-color: #d9a679;
    color: #fff;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.block p {
    font-size: 30px; /* Set the font size of the numbers */
    font-weight: bold; /* Set the font weight to bold */
    color: #6f3513; /* Set a complementary color for the numbers */
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); /* Add a subtle text shadow for better visibility */
}

.footer {
    position: fixed; /* Fix the footer position */
    bottom: 0; /* Align the footer to the bottom of the viewport */
    left: 0; /* Align the footer to the left edge of the viewport */
    width: 100%; /* Make the footer span the entire width of the viewport */
    background-color: #fff; /* Set background color for the footer */
    padding: 10px 20px; /* Add padding to the footer */
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Add shadow to the bottom of the footer */
    z-index: 999; /* Ensure the footer stays on top of other content */
    display: flex; /* Use flexbox to control alignment */
    justify-content: space-between; /* Align items at each end of the footer */
    align-items: center; /* Center items vertically within the footer */
}

.footer a {
    text-decoration: none;
    color: #d9a679; /* Set earthy color for links */
    display: inline-block;
    margin-right: 40px; /* Add margin between footer links */
}

.footer a img {
    width: 50px; /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
}

.graph {
    margin-bottom: 20px; /* Add margin between graphs */
    padding: 10px; /* Add padding to create space inside the box */
    border: 1px solid #ccc; /* Add border to create a box around the graph */
    border-radius: 5px; /* Add border radius for rounded corners */
    background-color: #fff; /* Set background color for the box */
}

.graph h3 {
    margin-top: 0; /* Remove top margin of the heading */
}