body {
    background-color: #f5f2de; /* Set earthy background color for the entire page */
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.footer {
    position: fixed; /* Fix the footer position */
    bottom: 0; /* Align the footer to the bottom of the viewport */
    left: 0; /* Align the footer to the left edge of the viewport */
    width: 100%; /* Make the footer span the entire width of the viewport */
    background-color: #fff; /* Set background color for the footer */
    padding: 10px 20px; /* Add padding to the footer */
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Add shadow to the bottom of the footer */
    z-index: 999; /* Ensure the footer stays on top of other content */
    display: flex; /* Use flexbox to control alignment */
    justify-content: space-between; /* Align items at each end of the footer */
    align-items: center; /* Center items vertically within the footer */
}

.footer a {
    text-decoration: none;
    color: #d9a679; /* Set earthy color for links */
    display: inline-block;
    margin-right: 40px; /* Add margin between footer links */
}

.footer a img {
    width: 40px; /* Adjust width as needed */
    height: 40px; /* Adjust height as needed */
}


.graph {
    margin-bottom: 20px; /* Add margin between graphs */
    padding: 10px; /* Add padding to create space inside the box */
    border: 1px solid #ccc; /* Add border to create a box around the graph */
    border-radius: 5px; /* Add border radius for rounded corners */
    background-color: #fff; /* Set background color for the box */
}

.graph h3 {
    margin-top: 0; /* Remove top margin of the heading */
}
